<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MWC</title>
    <link rel="stylesheet" href="/public/style.css"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <%- include('partials/header'); %> 
    <!-- master layout -->
    <div class="container-fluid" style="padding-top: 100px;">
        <div class="sidebar">
            <div class="list-group">
                <a href="/" class="list-group-item active">HOME PAGE</a>
                <div id="accordion">
                    <a class="card-link list-group-item" data-toggle="collapse" href="#collapseOne" class="list-group-item">
                        CATEGORIES
                        <!-- <i class="fa fa-caret-right effect_1" style="padding-left: 35px;"></i>
                        <i class="fa fa-caret-down effect_2" style="padding-left: 35px; display: none;"></i> -->
                    </a>
                    <div id="collapseOne" class="collapse" data-parent="#accordion">
                        <a href="/list_categories" class="list-group-item">LIST CATEGORIES</a>
                        <a href="/add_categories" class="list-group-item">ADD CATEGORIES</a>
                    </div>
                  </div> 
                  <div id="accordion1">
                    <a class="card-link list-group-item" data-toggle="collapse" href="#collapseTwo" class="list-group-item">
                        Users
                    </a>
                    <div id="collapseTwo" class="collapse" data-parent="#accordion1">
                        <a href="/user" class="list-group-item">LIST USER</a>
                        <a href="/user/register" class="list-group-item">ADD USER</a>
                    </div>
                  </div>                   
                
            </div>
        </div>
        </div>
        <div class="content">
            <div class="main"><%- include(main); %></div>
        </div>

    </div>
</body>
</html>

