*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 13pt;
}

.list-group a:hover{
    color: white;
    text-decoration: none;
    background-color: rgb(131, 123, 112);
}
.list-group a{
    color: black;
}

.list-group-item{
    min-width: 150px;
}

.header{
    height: 100px;
    background-color: black;
    line-height: 60px;
    text-align: center;
    color: white;
}
.footer{
    height: 60px;
    background-color: black;
    line-height: 60px;
    text-align: center;
    color: white;
}
.main{
    background-color: rgb(247, 241, 234);
}
.container{
    padding: 20px;
}
.left {
    display: flex;
    flex-direction: column;
}
.content{
    width: 100%;
    background-color: rgb(224, 190, 53);
}

.dropdown-menu >li>a{
    display: block;
    padding: 3px 20px;
}
.dropdown-menu>li>a:hover{
    background-color: gray;
    text-decoration: none;
    color: white;
}
