
<div class="container">
    <div class="col-sm-9 slideanim">
      <div class="row">
        <div class="dropdown col-sm-6 form-group">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">GROUP
          <span class="caret"></span></button>
          <span id="name_group" style="padding-left: 10px;">aaaa</span>
          <ul class="dropdown-menu">
            <li><a href="#">Classic</a></li>
            <li><a href="#">One Star</a></li>
          </ul>
        </div>
        <div class="col-sm-5 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
      </div>

      </div>
      <div class="col-sm-7 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
      </div>
      <div class="col-sm-7 form-group">
        <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
      </div>
      <div class="col-sm-7 form-group">
        <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
      </div>
    </div>
    <label for="content">Describe:</label>
      <textarea  class="form-group" name="content" id="content" placeholder="Describe" ></textarea>
    <div class="row">
      <div class="col-sm-12 form-group">
        <button class="btn btn-default pull-right" type="submit">Send</button>
      </div>
    </div>
</div>

</div>
<!-- //ckeditor -->
<script src="/public/ckeditor/ckeditor.js"></script>
<script>CKEDITOR.replace('content');</script>