
<div class="main_content">
  <div class="container">
    <h2 class="color_text">Add Account</h2>
    <form id="create-account">
        <label class="lable-input" for="name"><i class="fa fa-user"></i> Name:
            <input type="text" class="form-control" id="name" name="name" required>
        </label>
        <label class="lable-input" for="usrname"><i class="fa fa-user"></i> User Name:
            <input type="text" class="form-control" id="usrname" name="username" required>
        </label>
        <label class="lable-input" for="password"><i class="fa fa-lock" style="font-size:24px"></i> Password:
            <input type="password" class="form-control" id="password" name="password" required>
        </label>   
        <label class="lable-input" for="phone"><i class="fa fa-mobile" style="font-size:24px"></i> Phone:
            <input type="text" class="form-control" id="phone" name="phone" required>
        </label>      
        <label class="lable-input" for="email"><i class="fa fa-envelope"></i> Email
            <input type="email" class="form-control" id="email" name="email" required>
        </label>
        <label class="lable-input" for="address"><i class="fa fa-address-card-o"></i> Address:
            <input type="text" class="form-control" id="address" name="address" required>
        </label>    
        <div style="padding-bottom: 20px;">
          <button type="submit" class="btn btn-primary">Submit</button>
          <a href="/user" class="btn btn-outline-danger">Cancel</a>
        </div>   
    </form>    
  </div>
</div>



